h1,h2,h3,h4,h5,h6{
  margin-top:0;
  margin-bottom:space(2);
  font-weight:500;
  line-height:map-get($line-heights, snug);
  color:color(gray-dark);
}

h1{font-size:map-get($font-sizes, 2xl);}
h2{font-size:map-get($font-sizes, xl);}
h3{font-size:map-get($font-sizes, lg);}
h4{font-size:map-get($font-sizes, base);}
h5{font-size:map-get($font-sizes, sm);}
h6{font-size:map-get($font-sizes, xs);}

p{
  margin-top:0;
  margin-bottom:space(4);
}

a{
  color:color(primary);
  text-decoration:none;
  &:hover{
    color:darken(color(primary),10%);
    text-decoration:underline;
  }
}
